<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SimulatorServiceMap" />
                <binding name="BasicHttpBinding_SimulatorServiceTrafficControl" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1667/Simulator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_SimulatorServiceMap"
                contract="ServiceReference1.SimulatorServiceMap" name="BasicHttpBinding_SimulatorServiceMap" />
            <endpoint address="http://localhost:1667/Simulator" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_SimulatorServiceTrafficControl"
                contract="ServiceReference1.SimulatorServiceTrafficControl"
                name="BasicHttpBinding_SimulatorServiceTrafficControl" />
        </client>
    </system.serviceModel>
</configuration>